$body-font: verdana, san-serif;
$body-font-size: 16px;
$body-color: #333333; 


body {
      font-family: $body-font;
      font-size: $body-font-size;
      color: $body-color;
}
#mainWrap {
      width: 100%; min-width: 1050px;
      text-align: center;
      outline: 1px dotted blue;
}
#mainContent {
      width: 40%; display: inline-block; vertical-align: top;
      //height: 600px;
      padding-top: 11em; padding-left: 2em;
      border-left: 1px solid #EFEFEF; 
      outline: 1px dotted red;
}
