body {
  font-family: verdana, san-serif;
  font-size: 16px;
  color: black; }

#mainWrap {
  width: 100%;
  min-width: 1050px;
  text-align: center;
  outline: 1px dotted blue; }

#mainContent {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  padding-top: 11em;
  padding-left: 2em;
  border-left: 1px solid #EFEFEF;
  outline: 1px dotted red; }
